# editors, IDE
.vscode
.idea
backend/rest/

# build executables
backend/backend
backend/backend.exe

# secrets during testing
.env.secrets
docker-compose.secret.yml

# ruledata except for the made up test data
data/*.txt
!data/rulebook_test_data.txt
