docker-compose.yml

# editors, IDE
.vscode
.idea
backend/rest/

# some secrets during testing
.env.secrets
docker-compose.secret.yml

# ruledata except for the made up test data
data/*.txt
!data/rulebook_test_data.txt
