html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: rgb(23, 26, 29);
}

* {
  box-sizing: border-box;
}

a {
  color: #0c569b;
  text-decoration: underline dotted 1px;
  transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;
}

a:hover,
a:focus,
a:active {
  color: #4084c4;
}

nav a,
footer a {
  color: #4da3f3;
  text-decoration: none;
  transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #4084c4;
}

.MuiCardContent-root,
.MuiCard-root {
  height: 140px;
}

.popup-content {
  width: 50%;
  height: 0;
  margin: 0 auto auto auto !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
