html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(23, 26, 29);
}

a {
  color: #0c569b;
  text-decoration: underline dotted 1px;
  transition: all .05s ease-in;
  -moz-transition: all .05s ease-in;
  -o-transition: all .05s ease-in;
  -webkit-transition: all .05s ease-in;
}

a:hover, a:focus, a:active {
  color: #4084c4;
}

nav a, footer a {
  color: #4da3f3;
  text-decoration: none;
  transition: all .05s ease-in;
  -moz-transition: all .05s ease-in;
  -o-transition: all .05s ease-in;
  -webkit-transition: all .05s ease-in;
}


nav a:hover, nav a:focus, nav a:active {
  color: #4084c4;
}


* {
  box-sizing: border-box;
}
