.header {
  height: 100px;
}

#subNav {
  text-align: center;
}

#footer {
  color: rgb(255, 255, 255);
  width: 100%;
  border-top: 2px solid rgb(47, 50, 53);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Small screens and mobile */
@media screen and (max-width: 499px) {
  .main {
    margin: 0;
  }

  #menuButton {
    display: block;
    position: fixed;
    margin: 0;
    z-index: 22;
  }

  .content {
    width: 100%;
    margin: 0 0 0 50px;
  }

  .menu {
    margin-top: 50px;
    min-width: 0;
    max-width: 0;
    display: flex;
  }

  .menuHidden {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 500px) {
  .main {
    margin: 5% 5% 0 0;
  }

  #menuButton {
    display: none;
  }

  .content {
    width: 75%;
    margin: 0;
  }

  .menu {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .menuHidden {
    display: unset;
  }
}

.menuWrap {
  background-color: rgb(35, 39, 42);
  position: fixed;
  padding: 25px;
  max-width: 200px;
}

.menu {
  background-color: rgb(35, 39, 42);
}

.content {
  padding: 10px;
  background-color: rgb(247, 246, 235);
  color: #292826;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-height: 100vh;
}
