.container {
  width: 50vw;
  margin: 100px 0 0 0;
}

.results {
  margin-top: 5px;
  list-style: none;
  padding: 0;
  min-height: 75vh;
  overflow-y: auto;
  /* Firefox */
  /* scrollbar-width: none; */
}

.results::-webkit-scrollbar {
  width: 10px;
}

.results::-webkit-scrollbar-track-piece {
  background-color: #36393b;
}

.results::-webkit-scrollbar-thumb {
  background-color: #181b1e;
  outline: 2px solid #36393b;
  outline-offset: -2px;
}

.resultContent {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.result a {
  text-decoration: none;
}

.textField {
  background-color: rgb(23, 26, 29);
  border-radius: 2px;
}

.linkIcon {
  float: right;
}
