# Builds and pushes the main service image to Azure Container Registry

name: BuildImage

on:
  - push
  - workflow_dispatch

jobs:
  main:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CI_AZURE_CREDENTIALS }}

# Fix for a bug in Azure CLI
      - name: Build image
        uses: azure/CLI@v1
        with:
          azcliversion: 2.26.1 
          inlineScript: |
            az acr build --image "${REGISTRY_NAME}.azurecr.io/rulebook-backend" --registry "$REGISTRY_NAME" "$GITHUB_WORKSPACE/backend"
            az acr build --image "${REGISTRY_NAME}.azurecr.io/rulebook-frontend" --registry "$REGISTRY_NAME" "$GITHUB_WORKSPACE/frontend"
        env:
          REGISTRY_NAME: '${{ secrets.REGISTRY_NAME }}'

#       - name: Build image
#         run: |
#           az acr build --image "${REGISTRY_NAME}.azurecr.io/rulebook-backend" --registry "$REGISTRY_NAME" "$GITHUB_WORKSPACE/backend"
#           az acr build --image "${REGISTRY_NAME}.azurecr.io/rulebook-frontend" --registry "$REGISTRY_NAME" "$GITHUB_WORKSPACE/frontend"
#         env:
#           REGISTRY_NAME: '${{ secrets.REGISTRY_NAME }}'

      - name: Trigger deployment
        if: success()
        uses: peter-evans/repository-dispatch@v1.1.3
        with:
          token: ${{ secrets.REPO_GHA_PAT }}
          repository: ${{ github.repository }}
          event-type: trigger-workflow-2
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
